# Tarea 2
## Funcionalidades básicas de Pandas
### Luis Morera Claramunt

Se trabaja con un dataset de puestos de trabajo para científicos de datos en Estados Unidos

In [119]:
#Se importan las librerias necesarias
import pandas as pd
import numpy as np

Se lee el archivo csv del dataset

In [120]:
db = pd.read_csv('https://raw.githubusercontent.com/luismoreracla/DataScienceTEC/master/Clase2/alldata.csv')
print(db.head(20))

                                             position              company  \
0                                Development Director              ALS TDI
1   An Ostentatiously-Excitable Principal Research...   The Hexagon Lavish
2                                      Data Scientist       Xpert Staffing
3                                        Data Analyst       Operation HOPE
4   Assistant Professor -TT - Signal Processing & ...     Emory University
5                         Manager of Data Engineering   McKinsey & Company
6        Product Specialist - Periscope, New Ventures   McKinsey & Company
7   Junior to Mid-level Engineer, Geologist or Env...                 Wood
8                       Analyst - CIB Credit Research             SunTrust
9   Senior Associate - Cognitive Data Scientist Na...                 KPMG
10                       STATISTICAL FORECAST ANALYST       The Home Depot
11                          Health Scientist III-CPTS  Chenega Corporation
12                   Senior Associate, Data Scientist                 KPMG
13                       Assistant Scientist (AR) SOM     Emory University
14  Business Intelligence Data Science Analyst - S...        Newell Brands
15                                     Data Scientist             Cotiviti
16  Senior Structural Engineer-Transmission & Dist...    Burns & McDonnell
17              Senior Mobile Developer (iOS/Android)           Perficient
18                                     Data Scientist          Relus Cloud
19                                     Data Scientist       Inspire Brands

                                          description  reviews  \
0   Development Director\nALS Therapy Development ...      NaN
1   Job Description\n\n"The road that leads to acc...      NaN
2   Growing company located in the Atlanta, GA are...      NaN
3   DEPARTMENT: Program OperationsPOSITION LOCATIO...     44.0
4   DESCRIPTION\nThe Emory University Department o...    550.0
5   Qualifications\nBachelor’s degree in Computer ...    385.0
6   Qualifications\nBachelor’s degree\n5-7 years o...    385.0
7   Overview / Responsibilities\nWood Environment ...    899.0
8   Works closely with senior CIB professionals. P...   3343.0
9   Known for being a great place to work and buil...   4494.0
10  :\n\nThe Statistical Forecast Analyst position...  38844.0
11  Chenega Professional &amp; Technical Services,...    390.0
12  Innovate. Collaborate. Shine. Lighthouse — KPM...   4494.0
13  DESCRIPTION\nUnder minimal supervision, the As...    550.0
14  Data Science Analyst– Business Intelligence\nL...    912.0
15  Cotiviti is looking for an industry leading Da...    104.0
16  Description\nExecutes complex assignments requ...    152.0
17  Overview\n\n\n\nAt Perficient you’ll deliver m...     44.0
18  DATA SCIENTIST\n\nSUMMARY:\nAs an Amazon Web S...      NaN
19  This position is critical to understanding dri...      NaN

              location
0   Atlanta, GA 30301
1          Atlanta, GA
2          Atlanta, GA
3   Atlanta, GA 30303
4          Atlanta, GA
5   Atlanta, GA 30318
6   Atlanta, GA 30318
7          Atlanta, GA
8          Atlanta, GA
9    Atlanta, GA 30338
10         Atlanta, GA
11         Atlanta, GA
12   Atlanta, GA 30338
13         Atlanta, GA
14         Atlanta, GA
15         Atlanta, GA
16  Atlanta, GA 30309
17   Atlanta, GA 30338
18         Atlanta, GA
19         Atlanta, GA

Primero se usa el comando .describe() para obtener información estadística general del dataset

In [121]:
db.describe()

             reviews
count    5326.000000
mean     3179.089185
std      8448.515056
min         2.000000
25%        27.000000
50%       230.000000
75%      1578.000000
max    148114.000000

Para conocer el tamaño del data set se utiliza .shape

In [122]:
db.shape

(6964, 5)

Para ver los primeros x elementos del dataset se utiliza head(x).

Siendo x un número entero.

In [123]:
db.head(5)

,position,company,description,reviews,location
0,Development Director,ALS TDI,Development Director\nALS Therapy Development ...,NaN,"Atlanta, GA 30301"
1,An Ostentatiously-Excitable Principal Research...,The Hexagon Lavish,"Job Description\n\n""The road that leads to acc...",NaN,"Atlanta, GA"
2,Data Scientist,Xpert Staffing,"Growing company located in the Atlanta, GA are...",NaN,"Atlanta, GA"
3,Data Analyst,Operation HOPE,DEPARTMENT: Program OperationsPOSITION LOCATIO...,44.0,"Atlanta, GA 30303"
4,Assistant Professor -TT - Signal Processing & ...,Emory University,DESCRIPTION\nThe Emory University Department o...,550.0,"Atlanta, GA"

Para ver los primeros x elementos del dataset se utiliza tail(x).

Siendo x un número entero.

In [124]:
db.tail(5)

,position,company,description,reviews,location
6959,Data Developer / Machine Learning Analyst,NetApp,Are you data-driven? We at NetApp believe in t...,574.0,"Sunnyvale, CA"
6960,Scientist I,"Pharmacyclics, an Abbvie Company",Pharmacyclics is committed to the development ...,26.0,"Sunnyvale, CA"
6961,Intern Scientist,Oath Inc,"Oath, a subsidiary of Verizon, is a values-led...",5.0,"Sunnyvale, CA"
6962,Senior Data & Applied Scientist,Microsoft,We are the Bing Core Relevance team responsibl...,4618.0,"Sunnyvale, CA"
6963,"Principal Data Scientist, Deep Learning",Comcast,Comcast’s Technology &amp; Product organizatio...,11610.0,"Sunnyvale, CA 94089"

Para ver x cantidad de muestras aleatorias se usa .sample()

In [125]:
db.sample(5)

,position,company,description,reviews,location
5044,Applied Scientist,Amazon.com,Job Description\nWe are looking for an Applied...,25895.0,"Seattle, WA"
680,Engineer II-System Allocation & Verification (...,Ball Aerospace,Who We Are:\n\nBall Aerospace leads the way in...,108.0,"Boulder, CO"
4130,"Statistical Analyst, CHOICE",VISITING NURSE SERVICE OF NEW YORK,"Overview\nAbout CHOICE:\nCreated in 1998, VNSN...",210.0,"Manhattan, NY"
576,Process Center Technician III (663420),Ball Aerospace,Who We Are:\n\nBall Aerospace leads the way in...,108.0,"Boulder, CO"
1302,Performance Analyst,Social Fulcrum,WHO WE ARE:\nSocial Fulcrum is a team of data ...,NaN,"Boston, MA"

Para ver las columnas del dataset se utiliza .columns y con .dtypes se conoce el tipo de dato

In [126]:
db.columns
db.dtypes

position        object
company         object
description     object
reviews        float64
location        object
dtype: object

Para ver si el set de datos tiene un índice asociado se utiliza .index.values

In [127]:
db.index.values

array([   0,    1,    2, ..., 6961, 6962, 6963])

Para eliminar columnas dentro del set de datos se usa .drop

In [128]:
db.drop(db[['description']], inplace=True, axis=1)

In [129]:
db.columns

Index(['position', 'company', 'reviews', 'location'], dtype='object')

Con el comando .isnull().sum() se conoce la cantidad de valores faltantes por columna

In [130]:
db.isnull().sum()

position      11
company       11
reviews     1638
location      11
dtype: int64

Para eliminar los valores nulos de las columnas que son texto se usa el comando .dropa() y se le indican dichas columnas

In [131]:
db.dropna(subset=['position', 'company', 'location'], inplace=True)
db.isnull().sum()

position       0
company        0
reviews     1627
location       0
dtype: int64

Para los valores nulos en la columna reviews se va a cambiar por un 0 utilizando el comando fillna()

In [132]:
db.fillna(0, inplace=True)
db.isnull().sum()

position    0
company     0
reviews     0
location    0
dtype: int64

Pandas tiene comparadores como eq, ne, gt, le

En este caso se va a buscar la cantidad de elementos que tienen más de 100 reviews

In [133]:
db['reviews'].gt(100).sum()

3323

Pandas posee utlizar las opciones .any() o .all()

En este caso se va a probar para ver si todos los elementos tienen más de 400 reviews o si al menos uno de ellos lo cumple

In [134]:
(db['reviews'] > 400).all()

False

In [135]:
(db['reviews'] > 400).any()

True

Se puede encontrar el índice del valor maximo y minimo del set de datos con idxmin() e idxmax()

In [136]:
db['reviews'].idxmin()

0

In [137]:
db['reviews'].idxmax()

6728

Con el comando .value_counts() puedo saber la ocurrencia de un dato.

En este ejemplo se puede ver la cantidad de veces que aparecen las compañías

In [138]:
db['company'].value_counts()

Amazon.com                                             358
Ball Aerospace                                         187
Microsoft                                              137
Google                                                 134
NYU Langone Health                                      77
Fred Hutchinson Cancer Research Center                  70
KPMG                                                    66
Lab126                                                  50
Broad Institute                                         49
Facebook                                                49
Walmart eCommerce                                       45
McKinsey & Company                                      41
Takeda Pharmaceutical                                   39
University of Washington                                39
Harnham                                                 39
Pharmacyclics, an Abbvie Company                        34
Celgene Corporation                                     34
Oath Inc                                                34
Cymer                                                   32
Brigham & Women's Hospital(BWH)                         31
Biogen                                                  30
Sanofi                                                  28
Amgen                                                   28
Illumina                                                27
JP Morgan Chase                                         27
Jacobs                                                  27
JUUL Labs                                               26
Zillow Group                                            26
JD.com                                                  26
CDK Global                                              24
                                                      ...
Southern California Gas Company                          1
Townsquare Media                                         1
DeepCurrent Technologies, Inc.                           1
COMPTROLLER OF PUBLIC ACCOUNTS                           1
WHOOP                                                    1
Hiya                                                     1
PreVisor                                                 1
Fitbit                                                   1
Iovance Biotherapeutics                                  1
Humu                                                     1
Morning Consult                                          1
CTG                                                      1
PRA Health Sciences                                      1
Gartner                                                  1
Transdev                                                 1
Department of the Navy                                   1
Odonate Therapeutics                                     1
New York State Office of the Attorney General (OAG)      1
Premierehire                                             1
Grenzebach Glier and Associates                          1
Farmer's Business Network, Inc.                          1
The NPD Group                                            1
Conagra Brands                                           1
Moxie                                                    1
Data+Math                                                1
Change.org                                               1
Heliotrope Technologies                                  1
Banks Environmental Data                                 1
Daley and Associates                                     1
Dendreon Corporation                                     1
Name: company, Length: 2213, dtype: int64

Con el comando .contains() se puede saber si el argumento se encuentra dentro del set de datos

In [139]:
db['company'].str.contains('Google').tail(20)

6944    False
6945     True
6946    False
6947    False
6948    False
6949    False
6950    False
6951    False
6952    False
6953    False
6954     True
6955    False
6956    False
6957    False
6958    False
6959    False
6960    False
6961    False
6962    False
6963    False
Name: company, dtype: bool

COn el comando groupby() se pueden agrupar datos, en este ejemplo se agrupan por compañias y se calcula la media de sus reviews

In [140]:
db.groupby('company').mean()

                                   reviews
company
10x Genomics                           0.0
1199SEIU Family of Funds             133.0
1871                                   4.0
23andMe                                4.0
24 Hour Fitness                     2090.0
2M Research Services                   2.0
2U                                    28.0
2rbConsulting                          0.0
3D Systems                            50.0
3Q Digital                             9.0
605                                    0.0
6sense                                 0.0
7Cups                                  0.0
7Park Data                             0.0
84.51°                                 2.0
A Place for Mom                      105.0
A+E Networks                          99.0
A-Line Staffing                       63.0
A2e Technologies                       0.0
AARP                                 889.0
AB Sciex Pte                           0.0
ACADIA Pharmaceuticals Inc.            6.0
ACLU                                  70.0
ACT Commodities                        0.0
ADMIN FOR CHILDREN'S SVCS            159.0
ADP                                 3973.0
AECOM                               3332.0
AFL-CIO                                8.0
AGC Biologics                          0.0
AHA American Hospital Association      0.0
...                                    ...
bluebird bio                           2.0
dbHMS                                  3.0
e.biT Consulting                       0.0
eBay Inc.                           1443.0
eGenesis                               0.0
eHire, LLC                             0.0
ePrize                                 5.0
ecoATM LLC                             0.0
edX                                    5.0
envisionit                             0.0
eviCore healthcare                   222.0
exp                                   54.0
fractalanalytics                       0.0
h2o.ai                                 0.0
iHeartMedia, Inc.                   1047.0
iRhythm                               13.0
insitro.com                            0.0
letgo                                  0.0
lululemon athletica                  382.0
openwater (openwater.cc)               0.0
permIT LLC                             0.0
raag solutions                         0.0
thoughtmatrix                          0.0
thredUP Inc                           20.0
true[x]                                0.0
uBiome                                 0.0
xentity corporation                    2.0
zulily                               339.0
Øptimus Consulting                     0.0
쿠팡                                     0.0

[2213 rows x 1 columns]

Con .sort_values() se pueden ordenar los datos ya sea de forma ascendente o descendente.

In [141]:
db.sort_values('reviews', ascending=False)

,position,company,reviews,location
6728,"Staff Software Engineer, Front End Lead",Walmart,148114.0,"Sunnyvale, CA 94086"
6828,Information Security Risk Expert,Walmart,148114.0,"Sunnyvale, CA 94086"
6958,Senior Data Scientist (GEC11902),Walmart,148114.0,"Sunnyvale, CA 94086"
449,Data Scientist-ISD,Walmart,148085.0,"Austin, TX 78716"
6668,Staff Data Scientist,Walmart,148051.0,"San Bruno, CA 94066"
74,DATA ANALYST SUPPLY CHAIN,The Home Depot,38844.0,"Atlanta, GA"
251,SR DATA ANALYST SUPPLY CHAIN,The Home Depot,38844.0,"Atlanta, GA"
10,STATISTICAL FORECAST ANALYST,The Home Depot,38844.0,"Atlanta, GA"
172,Senior Business Intelligence Analyst,The Home Depot,38844.0,"Atlanta, GA"
177,"Associate Manager, Agile Paid Media",The Home Depot,38844.0,"Atlanta, GA"
28,"Data Scientist, Online",The Home Depot,38844.0,"Atlanta, GA"
23,DATA SCIENTIST - Supply Chain,The Home Depot,38844.0,"Atlanta, GA"
39,DATA SCIENTIST - SPACE OPTIMIZATION,The Home Depot,38844.0,"Atlanta, GA"
484,DATA SCIENTIST BL LAB,The Home Depot,38633.0,"Austin, TX 78716"
469,SR SOFTWARE ENG - BLACK LOCUS,The Home Depot,38633.0,"Austin, TX 78716"
317,PRINCIPAL DATA SCIENTIST BL LAB,The Home Depot,38633.0,"Austin, TX 78716"
461,SOFTWARE ENGINEER II (BLACK LOCUS),The Home Depot,38633.0,"Austin, TX 78716"
6785,Lead Data Analyst - Digital Test and Measurement,TARGET,33275.0,"Sunnyvale, CA"
6926,Lead Data Scientist - Machine Learning,TARGET,33275.0,"Sunnyvale, CA"
6777,Lead Data Engineer,TARGET,33275.0,"Sunnyvale, CA"
6951,Lead Data Scientist - NLP,TARGET,33275.0,"Sunnyvale, CA"
6957,Lead Data Scientist - Haskell,TARGET,33275.0,"Sunnyvale, CA"
6754,Lead Data Scientist - Ad Tech / Marketing,TARGET,33275.0,"Sunnyvale, CA"
6714,Lead Data Engineer - A/B Testing/Measurement P...,TARGET,33275.0,"Sunnyvale, CA"
6835,Lead Data Engineer - DevOps Sunnyvale,TARGET,33275.0,"Sunnyvale, CA"
6770,Principal Data Engineer,TARGET,33275.0,"Sunnyvale, CA"
4367,Inventive Scientist (Labs - Data Science and A...,AT&T,30064.0,"New York, NY"
3904,Senior-Inventive Scientist- Next Gen 5G,AT&T,30064.0,"New York, NY"
805,Wells Fargo Securities - Equity Research Assoc...,Wells Fargo,27992.0,"Boston, MA"
4594,OPERATIONS RESEARCH ANALYST,Department of the Navy,25909.0,"San Diego, CA"
...,...,...,...,...
4626,Bioinformatics Scientist I,Prometheus Laboratories Inc.,0.0,"San Diego, CA 92121"
4634,Analytical Associate Scientist,BioDuro,0.0,"San Diego, CA"
4635,"Scientist, Analytical Biochemistry - Temp",Pfenex Inc.,0.0,"San Diego, CA 92121"
4639,"Staff Scientist, Polymer and Surface Chemistry",Encodia,0.0,"San Diego, CA"
4640,Senior Data Curator,Rancho BioSciences,0.0,"San Diego, CA"
4642,Biostatistical Scientist,Prometheus Laboratories Inc.,0.0,"San Diego, CA 92121"
4643,"Scientist, Product Development",PaxVax,0.0,"San Diego, CA"
4644,Clinical Scientist,"Halozyme Therapeutics, Inc.",0.0,"San Diego, CA 92121"
4645,"Sr. Scientist, Method Development",Pfenex Inc.,0.0,"San Diego, CA 92122"
4647,Clinical Scientist - Contract to Hire,"Halozyme Therapeutics, Inc.",0.0,"San Diego, CA 92121"
4654,Machine Learning Architect,"Nuvola Staffing & Solutions, LLC.",0.0,"San Diego, CA"
4618,Lead Data Scientist,VIA Technical,0.0,"San Diego, CA"
1431,Machine Learning Data Scientist,e.biT Consulting,0.0,"Chicago, IL"
4616,Assistant Staff Scientist,Malin Space Science Systems,0.0,"San Diego, CA 92121"
4587,Scientist - Bioconjugation,Encodia,0.0,"San Diego, CA"
4575,"Sr. Computer/Data Scientist, PhD Preferred, wi...","MemComputing, Inc.",0.0,"San Diego, CA"
1443,Senior Data Scientist,MARC USA LLC,0.0,"Chicago, IL 60654"
4579,"Scientist I / II, Neurodegenerative Diseases","Samumed, LLC",0.0,"San Diego, CA 92121"
1438,"Applied Data Scientist, Commercial",Civis Analytics,0.0,"Chicago, IL"
4585,DMPK Research Scientist or Equivalent Position,Inception Sciences,0.0,"San Diego, CA 92121"
4586,Finance & Data Analyst,ecoATM LLC,0.0,"San Diego, CA 92121"
4589,Data Engineer,Classy,0.0,"San Diego, CA"
4612,Proteomics/Protein Scientist 1,Encodia,0.0,"San Diego, CA"
4590,Bioinformatics/Data Analysis Specialist,Progenesis,0.0,"San Diego, CA"
4592,Scientist,Diazyme,0.0,"San Diego, CA"
4595,Bioinformatics Scientist,Encodia,0.0,"San Diego, CA"
4598,Applied Research Scientist,A2e Technologies,0.0,"San Diego, CA 92111"
4606,"Scientist, Analytical Sciences",Pfenex Inc.,0.0,"San Diego, CA 92121"
4607,R&D Scientist,SD Medical system Inc,0.0,"San Diego, CA"
0,Development Director,ALS TDI,0.0,"Atlanta, GA 30301"

Se puede reacomodar el índice de los datos. Por ejemplo, luego de ordenar los datos de forma descendente como se hizo en el ejemplo pasado utilizando .reset_index().

En este caso se deja el valor de drop=True para mantener los índices anteriores

In [142]:
db.sort_values('reviews', ascending=False).reset_index(drop=True)

,position,company,reviews,location
0,"Staff Software Engineer, Front End Lead",Walmart,148114.0,"Sunnyvale, CA 94086"
1,Information Security Risk Expert,Walmart,148114.0,"Sunnyvale, CA 94086"
2,Senior Data Scientist (GEC11902),Walmart,148114.0,"Sunnyvale, CA 94086"
3,Data Scientist-ISD,Walmart,148085.0,"Austin, TX 78716"
4,Staff Data Scientist,Walmart,148051.0,"San Bruno, CA 94066"
5,DATA ANALYST SUPPLY CHAIN,The Home Depot,38844.0,"Atlanta, GA"
6,SR DATA ANALYST SUPPLY CHAIN,The Home Depot,38844.0,"Atlanta, GA"
7,STATISTICAL FORECAST ANALYST,The Home Depot,38844.0,"Atlanta, GA"
8,Senior Business Intelligence Analyst,The Home Depot,38844.0,"Atlanta, GA"
9,"Associate Manager, Agile Paid Media",The Home Depot,38844.0,"Atlanta, GA"
10,"Data Scientist, Online",The Home Depot,38844.0,"Atlanta, GA"
11,DATA SCIENTIST - Supply Chain,The Home Depot,38844.0,"Atlanta, GA"
12,DATA SCIENTIST - SPACE OPTIMIZATION,The Home Depot,38844.0,"Atlanta, GA"
13,DATA SCIENTIST BL LAB,The Home Depot,38633.0,"Austin, TX 78716"
14,SR SOFTWARE ENG - BLACK LOCUS,The Home Depot,38633.0,"Austin, TX 78716"
15,PRINCIPAL DATA SCIENTIST BL LAB,The Home Depot,38633.0,"Austin, TX 78716"
16,SOFTWARE ENGINEER II (BLACK LOCUS),The Home Depot,38633.0,"Austin, TX 78716"
17,Lead Data Analyst - Digital Test and Measurement,TARGET,33275.0,"Sunnyvale, CA"
18,Lead Data Scientist - Machine Learning,TARGET,33275.0,"Sunnyvale, CA"
19,Lead Data Engineer,TARGET,33275.0,"Sunnyvale, CA"
20,Lead Data Scientist - NLP,TARGET,33275.0,"Sunnyvale, CA"
21,Lead Data Scientist - Haskell,TARGET,33275.0,"Sunnyvale, CA"
22,Lead Data Scientist - Ad Tech / Marketing,TARGET,33275.0,"Sunnyvale, CA"
23,Lead Data Engineer - A/B Testing/Measurement P...,TARGET,33275.0,"Sunnyvale, CA"
24,Lead Data Engineer - DevOps Sunnyvale,TARGET,33275.0,"Sunnyvale, CA"
25,Principal Data Engineer,TARGET,33275.0,"Sunnyvale, CA"
26,Inventive Scientist (Labs - Data Science and A...,AT&T,30064.0,"New York, NY"
27,Senior-Inventive Scientist- Next Gen 5G,AT&T,30064.0,"New York, NY"
28,Wells Fargo Securities - Equity Research Assoc...,Wells Fargo,27992.0,"Boston, MA"
29,OPERATIONS RESEARCH ANALYST,Department of the Navy,25909.0,"San Diego, CA"
...,...,...,...,...
6923,Bioinformatics Scientist I,Prometheus Laboratories Inc.,0.0,"San Diego, CA 92121"
6924,Analytical Associate Scientist,BioDuro,0.0,"San Diego, CA"
6925,"Scientist, Analytical Biochemistry - Temp",Pfenex Inc.,0.0,"San Diego, CA 92121"
6926,"Staff Scientist, Polymer and Surface Chemistry",Encodia,0.0,"San Diego, CA"
6927,Senior Data Curator,Rancho BioSciences,0.0,"San Diego, CA"
6928,Biostatistical Scientist,Prometheus Laboratories Inc.,0.0,"San Diego, CA 92121"
6929,"Scientist, Product Development",PaxVax,0.0,"San Diego, CA"
6930,Clinical Scientist,"Halozyme Therapeutics, Inc.",0.0,"San Diego, CA 92121"
6931,"Sr. Scientist, Method Development",Pfenex Inc.,0.0,"San Diego, CA 92122"
6932,Clinical Scientist - Contract to Hire,"Halozyme Therapeutics, Inc.",0.0,"San Diego, CA 92121"
6933,Machine Learning Architect,"Nuvola Staffing & Solutions, LLC.",0.0,"San Diego, CA"
6934,Lead Data Scientist,VIA Technical,0.0,"San Diego, CA"
6935,Machine Learning Data Scientist,e.biT Consulting,0.0,"Chicago, IL"
6936,Assistant Staff Scientist,Malin Space Science Systems,0.0,"San Diego, CA 92121"
6937,Scientist - Bioconjugation,Encodia,0.0,"San Diego, CA"
6938,"Sr. Computer/Data Scientist, PhD Preferred, wi...","MemComputing, Inc.",0.0,"San Diego, CA"
6939,Senior Data Scientist,MARC USA LLC,0.0,"Chicago, IL 60654"
6940,"Scientist I / II, Neurodegenerative Diseases","Samumed, LLC",0.0,"San Diego, CA 92121"
6941,"Applied Data Scientist, Commercial",Civis Analytics,0.0,"Chicago, IL"
6942,DMPK Research Scientist or Equivalent Position,Inception Sciences,0.0,"San Diego, CA 92121"
6943,Finance & Data Analyst,ecoATM LLC,0.0,"San Diego, CA 92121"
6944,Data Engineer,Classy,0.0,"San Diego, CA"
6945,Proteomics/Protein Scientist 1,Encodia,0.0,"San Diego, CA"
6946,Bioinformatics/Data Analysis Specialist,Progenesis,0.0,"San Diego, CA"
6947,Scientist,Diazyme,0.0,"San Diego, CA"
6948,Bioinformatics Scientist,Encodia,0.0,"San Diego, CA"
6949,Applied Research Scientist,A2e Technologies,0.0,"San Diego, CA 92111"
6950,"Scientist, Analytical Sciences",Pfenex Inc.,0.0,"San Diego, CA 92121"
6951,R&D Scientist,SD Medical system Inc,0.0,"San Diego, CA"
6952,Development Director,ALS TDI,0.0,"Atlanta, GA 30301"