# Tarea 2
## Funcionalidades básicas de Pandas
### Luis Morera Claramunt

Se trabaja con un dataset de accidentes de vuelos

In [2]:
#Se importan las librerias necesarias
import pandas as pd
import numpy as np

Se lee el archivo csv del dataset

In [41]:
db = pd.read_csv('https://raw.githubusercontent.com/luismoreracla/DataScienceTEC/master/Clase2/planecrashinfo_20181121001952.csv')
print(db.head(20))

                  date     time                            location  \
0   September 17, 1908    17:18                 Fort Myer, Virginia
1   September 07, 1909        ?             Juvisy-sur-Orge, France
2        July 12, 1912    06:30           Atlantic City, New Jersey
3      August 06, 1913        ?  Victoria, British Columbia, Canada
4   September 09, 1913  c 18:30                  Over the North Sea
5     October 17, 1913  c 10:30          Near Johannisthal, Germany
6       March 05, 1915  c 01:00                     Tienen, Belgium
7   September 03, 1915  c 15:20               Off Cuxhaven, Germany
8        July 28, 1916        ?               Near Jambol, Bulgeria
9   September 24, 1916  c 01:00                 Billericay, England
10    October 01, 1916  c 23:45                Potters Bar, England
11   November 21, 1916        ?                      Mainz, Germany
12   November 28, 1916  c 23:45        Off West Hartlepool, England
13      March 04, 1917        ?                  Near Gent, Belgium
14      March 30, 1917        ?                Off Northern Germany
15        May 14, 1917  c 05:15        Near Texel Island, North Sea
16       June 14, 1917  c 08:45      Off Vlieland Island, North Sea
17       June 17, 1917        ?              Near Yarmouth, England
18     August 21, 1917  c 07:00                 Off western Denmark
19    October 20, 1917  c 07:45              Near Luneville, France

                  operator flight_no          route  \
0     Military - U.S. Army         ?  Demonstration
1                        ?         ?       Air show
2     Military - U.S. Navy         ?    Test flight
3                  Private         ?              ?
4   Military - German Navy         ?              ?
5   Military - German Navy         ?              ?
6   Military - German Navy         ?              ?
7   Military - German Navy         ?              ?
8   Military - German Army         ?              ?
9   Military - German Navy         ?              ?
10  Military - German Navy         ?              ?
11  Military - German Army         ?              ?
12  Military - German Navy         ?              ?
13  Military - German Army         ?              ?
14  Military - German Navy         ?              ?
15  Military - German Navy         ?              ?
16  Military - German Navy         ?              ?
17                       ?         ?              ?
18  Military - German Navy         ?              ?
19  Military - German Navy         ?              ?

                          ac_type registration cn_ln  \
0                Wright Flyer III            ?     1
1                  Wright Byplane          SC1     ?
2                       Dirigible            ?     ?
3                Curtiss seaplane            ?     ?
4          Zeppelin L-1 (airship)            ?     ?
5          Zeppelin L-2 (airship)            ?     ?
6          Zeppelin L-8 (airship)            ?     ?
7         Zeppelin L-10 (airship)            ?     ?
8   Schutte-Lanz S-L-10 (airship)            ?     ?
9         Zeppelin L-32 (airship)            ?     ?
10        Zeppelin L-31 (airship)            ?     ?
11       Super Zeppelin (airship)            ?     ?
12        Zeppelin L-34 (airship)            ?     ?
13                        Airship            ?     ?
14   Schutte-Lanz S-L-9 (airship)            ?     ?
15        Zeppelin L-22 (airship)            ?     ?
16        Zeppelin L-43 (airship)            ?     ?
17       Zepplin LZ-95 (air ship)         L-48     ?
18        Zeppelin L-23 (airship)            ?     ?
19        Zeppelin L-44 (airship)            ?     ?

                          aboard                    fatalities ground  \
0     2   (passengers:1  crew:1)    1   (passengers:1  crew:0)      0
1     1   (passengers:0  crew:1)    1   (passengers:0  crew:0)      0
2     5   (passengers:0  crew:5)    5   (passengers:0  crew:5)      0
3     1   (passengers:0  crew:1)    1   (passengers:0  crew:1)      0
4    20   (passengers:?  crew:?)   14   (passengers:?  crew:?)      0
5    30   (passengers:?  crew:?)   30   (passengers:?  crew:?)      0
6    41   (passengers:?  crew:?)   21   (passengers:?  crew:?)      0
7    19   (passengers:?  crew:?)   19   (passengers:?  crew:?)      0
8    20   (passengers:?  crew:?)   20   (passengers:?  crew:?)      0
9    22   (passengers:?  crew:?)   22   (passengers:?  crew:?)      0
10  19   (passengers:0  crew:19)  19   (passengers:0  crew:19)      0
11   28   (passengers:?  crew:?)   27   (passengers:?  crew:?)      0
12   20   (passengers:?  crew:?)   20   (passengers:?  crew:?)      0
13   20   (passengers:?  crew:?)   20   (passengers:?  crew:?)      0
14   23   (passengers:?  crew:?)   23   (passengers:?  crew:?)      0
15   21   (passengers:?  crew:?)   21   (passengers:?  crew:?)      0
16   24   (passengers:?  crew:?)   24   (passengers:?  crew:?)      0
17   16   (passengers:?  crew:?)   14   (passengers:?  crew:?)      0
18   18   (passengers:?  crew:?)   18   (passengers:?  crew:?)      0
19   18   (passengers:?  crew:?)   18   (passengers:?  crew:?)      0

                                              summary
0   During a demonstration flight, a U.S. Army fly...
1   Eugene Lefebvre was the first pilot to ever be...
2   First U.S. dirigible Akron exploded just offsh...
3   The first fatal airplane accident in Canada oc...
4   The airship flew into a thunderstorm and encou...
5   Hydrogen gas which was being vented was sucked...
6   Crashed into trees while attempting to land af...
7   Exploded and burned near Neuwerk Island,  when...
8          Crashed near the Black Sea, cause unknown.
9   Shot down by British aircraft crashing in flames.
10  Shot down in flames by the British 39th Home D...
11                                Crashed in a storm.
12  Shot down by British anti-aircraft fire and ai...
13                           Caught fire and crashed.
14  Struck by lightning and crashed into the Balti...
15  Crashed into the sea from an altitude of 3,000...
16                     Shot down by British aircraft.
17                             Shot down by aircraft.
18                     Shot down by British aircraft.
19            Shot down by French anti-aircraft fire.

Primero se usa el comando .describe() para obtener información estadística general del dataset

In [8]:
db.describe()

,date,time,location,operator,flight_no,route,ac_type,registration,cn_ln,aboard,fatalities,ground,summary
count,5783,5783,5783,5783,5783,5783,5783,5783,5783,5783,5783,5783,5783
unique,5213,1346,4715,2821,890,3875,2742,5394,4149,1042,917,54,5368
top,"February 28, 1973",?,"Moscow, Russia",Aeroflot,?,?,Douglas DC-3,?,?,2 (passengers:0 crew:2),1 (passengers:0 crew:1),0,?
freq,4,2108,18,260,4436,1494,341,352,1207,236,288,5474,231

Para conocer el tamaño del data set se utiliza .shape

In [9]:
db.shape

(5783, 13)

Para ver los primeros x elementos del dataset se utiliza head(x).

Siendo x un número entero.

In [10]:
db.head(5)

,date,time,location,operator,flight_no,route,ac_type,registration,cn_ln,aboard,fatalities,ground,summary
0,"September 17, 1908",17:18,"Fort Myer, Virginia",Military - U.S. Army,?,Demonstration,Wright Flyer III,?,1,2 (passengers:1 crew:1),1 (passengers:1 crew:0),0,"During a demonstration flight, a U.S. Army fly..."
1,"September 07, 1909",?,"Juvisy-sur-Orge, France",?,?,Air show,Wright Byplane,SC1,?,1 (passengers:0 crew:1),1 (passengers:0 crew:0),0,Eugene Lefebvre was the first pilot to ever be...
2,"July 12, 1912",06:30,"Atlantic City, New Jersey",Military - U.S. Navy,?,Test flight,Dirigible,?,?,5 (passengers:0 crew:5),5 (passengers:0 crew:5),0,First U.S. dirigible Akron exploded just offsh...
3,"August 06, 1913",?,"Victoria, British Columbia, Canada",Private,?,?,Curtiss seaplane,?,?,1 (passengers:0 crew:1),1 (passengers:0 crew:1),0,The first fatal airplane accident in Canada oc...
4,"September 09, 1913",c 18:30,Over the North Sea,Military - German Navy,?,?,Zeppelin L-1 (airship),?,?,20 (passengers:? crew:?),14 (passengers:? crew:?),0,The airship flew into a thunderstorm and encou...

Para ver los primeros x elementos del dataset se utiliza tail(x).

Siendo x un número entero.

In [11]:
db.tail(5)

,date,time,location,operator,flight_no,route,ac_type,registration,cn_ln,aboard,fatalities,ground,summary
5778,"July 10, 2018",0744,"Pretoria, South Africa",Rovos Air,?,Test Flight,Convair CV-340,ZS-BRV,215,19 (passengers:16 crew:3),1 (passengers:0 crew:1),1,"Shortly after takeoff from runway 29, the left..."
5779,"August 04, 2018",1655,"Flims, Switzerland",Ju Air,?,Locorno - Dubendorf,Junkers JU-52,HB-HOT,6595,20 (passengers:17 crew:3),20 (passengers:17 crew:3),1,The vintage aircraft crashed onto Piz Segnas m...
5780,"September 28, 2018",1010,"Chuuk, Micronesia",Air Niugini,?,Pohnpei - Chuuk,Boeing 737-8BK,P2-PXE,33024/1688,47 (passengers:35 crew:12),1 (passengers:1 crew:0),0,The aircraft was approaching for a landing at ...
5781,"October 29, 2018",0631,"Off Jakarta, Indonesia",Lion Air,610,Jakarta - Pangkal Pinang,Boeing 737-MAX 8,PK-LQP,43000/7058,189 (passengers:181 crew:8),189 (passengers:181 crew:8),0,"The airliner crashed into the Jakarta Sea, 13 ..."
5782,"November 06, 2018",0253,"Georgetown, Guyana",Fly Jamaica Airways,?,Georgetown - Toronto,Boeing 757-N23,N524AT,30233/895,128 (passengers:120 crew:8),1 (passengers:1 crew:0),0,"After taking off and reaching FL200, the crew ..."

Para ver las columnas del dataset se utiliza .columns y con .dtypes se conoce el tipo de dato

In [34]:
db.columns
db.dtypes

date            object
time            object
location        object
operator        object
flight_no       object
route           object
ac_type         object
registration    object
cn_ln           object
aboard          object
fatalities      object
ground          object
summary         object
dtype: object

Para ver si el set de datos tiene un índice asociado se utiliza .index.values

In [18]:
db.index.values

array([   0,    1,    2, ..., 5780, 5781, 5782])

Para eliminar columnas dentro del set de datos se usa .drop

In [42]:
db.drop(db[['registration', 'flight_no']], inplace=True, axis=1)

In [43]:
db.columns

Index(['date', 'time', 'location', 'operator', 'route', 'ac_type', 'cn_ln',
       'aboard', 'fatalities', 'ground', 'summary'],
      dtype='object')

En el caso de este data set, los datos faltantes aparencen como '?'. Se cambian esos valores por NaN.

In [59]:
db.replace('?', np.NaN)

,date,time,location,operator,route,ac_type,cn_ln,aboard,fatalities,ground,summary
0,"September 17, 1908",17:18,"Fort Myer, Virginia",Military - U.S. Army,Demonstration,Wright Flyer III,1,2 (passengers:1 crew:1),1 (passengers:1 crew:0),0,"During a demonstration flight, a U.S. Army fly..."
1,"September 07, 1909",NaN,"Juvisy-sur-Orge, France",NaN,Air show,Wright Byplane,NaN,1 (passengers:0 crew:1),1 (passengers:0 crew:0),0,Eugene Lefebvre was the first pilot to ever be...
2,"July 12, 1912",06:30,"Atlantic City, New Jersey",Military - U.S. Navy,Test flight,Dirigible,NaN,5 (passengers:0 crew:5),5 (passengers:0 crew:5),0,First U.S. dirigible Akron exploded just offsh...
3,"August 06, 1913",NaN,"Victoria, British Columbia, Canada",Private,NaN,Curtiss seaplane,NaN,1 (passengers:0 crew:1),1 (passengers:0 crew:1),0,The first fatal airplane accident in Canada oc...
4,"September 09, 1913",c 18:30,Over the North Sea,Military - German Navy,NaN,Zeppelin L-1 (airship),NaN,20 (passengers:? crew:?),14 (passengers:? crew:?),0,The airship flew into a thunderstorm and encou...
5,"October 17, 1913",c 10:30,"Near Johannisthal, Germany",Military - German Navy,NaN,Zeppelin L-2 (airship),NaN,30 (passengers:? crew:?),30 (passengers:? crew:?),0,Hydrogen gas which was being vented was sucked...
6,"March 05, 1915",c 01:00,"Tienen, Belgium",Military - German Navy,NaN,Zeppelin L-8 (airship),NaN,41 (passengers:? crew:?),21 (passengers:? crew:?),0,Crashed into trees while attempting to land af...
7,"September 03, 1915",c 15:20,"Off Cuxhaven, Germany",Military - German Navy,NaN,Zeppelin L-10 (airship),NaN,19 (passengers:? crew:?),19 (passengers:? crew:?),0,"Exploded and burned near Neuwerk Island, when..."
8,"July 28, 1916",NaN,"Near Jambol, Bulgeria",Military - German Army,NaN,Schutte-Lanz S-L-10 (airship),NaN,20 (passengers:? crew:?),20 (passengers:? crew:?),0,"Crashed near the Black Sea, cause unknown."
9,"September 24, 1916",c 01:00,"Billericay, England",Military - German Navy,NaN,Zeppelin L-32 (airship),NaN,22 (passengers:? crew:?),22 (passengers:? crew:?),0,Shot down by British aircraft crashing in flames.
10,"October 01, 1916",c 23:45,"Potters Bar, England",Military - German Navy,NaN,Zeppelin L-31 (airship),NaN,19 (passengers:0 crew:19),19 (passengers:0 crew:19),0,Shot down in flames by the British 39th Home D...
11,"November 21, 1916",NaN,"Mainz, Germany",Military - German Army,NaN,Super Zeppelin (airship),NaN,28 (passengers:? crew:?),27 (passengers:? crew:?),0,Crashed in a storm.
12,"November 28, 1916",c 23:45,"Off West Hartlepool, England",Military - German Navy,NaN,Zeppelin L-34 (airship),NaN,20 (passengers:? crew:?),20 (passengers:? crew:?),0,Shot down by British anti-aircraft fire and ai...
13,"March 04, 1917",NaN,"Near Gent, Belgium",Military - German Army,NaN,Airship,NaN,20 (passengers:? crew:?),20 (passengers:? crew:?),0,Caught fire and crashed.
14,"March 30, 1917",NaN,Off Northern Germany,Military - German Navy,NaN,Schutte-Lanz S-L-9 (airship),NaN,23 (passengers:? crew:?),23 (passengers:? crew:?),0,Struck by lightning and crashed into the Balti...
15,"May 14, 1917",c 05:15,"Near Texel Island, North Sea",Military - German Navy,NaN,Zeppelin L-22 (airship),NaN,21 (passengers:? crew:?),21 (passengers:? crew:?),0,"Crashed into the sea from an altitude of 3,000..."
16,"June 14, 1917",c 08:45,"Off Vlieland Island, North Sea",Military - German Navy,NaN,Zeppelin L-43 (airship),NaN,24 (passengers:? crew:?),24 (passengers:? crew:?),0,Shot down by British aircraft.
17,"June 17, 1917",NaN,"Near Yarmouth, England",NaN,NaN,Zepplin LZ-95 (air ship),NaN,16 (passengers:? crew:?),14 (passengers:? crew:?),0,Shot down by aircraft.
18,"August 21, 1917",c 07:00,Off western Denmark,Military - German Navy,NaN,Zeppelin L-23 (airship),NaN,18 (passengers:? crew:?),18 (passengers:? crew:?),0,Shot down by British aircraft.
19,"October 20, 1917",c 07:45,"Near Luneville, France",Military - German Navy,NaN,Zeppelin L-44 (airship),NaN,18 (passengers:? crew:?),18 (passengers:? crew:?),0,Shot down by French anti-aircraft fire.
20,"April 07, 1918",c 21:30,Over the Mediterranean,Military - German Navy,NaN,Zeppelin L-59 (airship),NaN,23 (passengers:? crew:?),23 (passengers:? crew:?),0,Exploded and crashed into the sea off the sout...
21,"May 10, 1918",NaN,"Off Helgoland Island, Germany",Military - German Navy,NaN,Zeppelin L-70 (airship),NaN,22 (passengers:? crew:?),22 (passengers:? crew:?),0,Shot down by British aircraft crashing from a ...
22,"August 11, 1918",c 10:00,"Ameland Island, North Sea",Military - German Navy,NaN,Zeppelin L-53 (airship),NaN,19 (passengers:? crew:?),19 (passengers:? crew:?),0,Shot down by british aircraft.
23,"December 16, 1918",NaN,"Elizabeth, New Jersey",US Aerial Mail Service,NaN,De Havilland DH-4,NaN,1 (passengers:0 crew:1),1 (passengers:0 crew:1),0,Carl Smith was killed when his mail plane feet...
24,"May 25, 1919",NaN,"Cleveland, Ohio",US Aerial Mail Service,NaN,De Havilland DH-4,NaN,1 (passengers:0 crew:1),1 (passengers:0 crew:1),0,Caught fire in midair. The pilot leaped from t...
25,"July 19, 1919",NaN,"Dix Run, Pennsylvania",US Aerial Mail Service,NaN,De Havilland DH-4,NaN,1 (passengers:0 crew:1),1 (passengers:0 crew:1),0,NaN
26,"August 02, 1919",NaN,"Verona, Italy",Caproni Company,Venice Taliedo,Caproni Ca.48,NaN,14 (passengers:12 crew:2),14 (passengers:12 crew:2),0,As the plane was passing over Verona the wings...
27,"October 02, 1919",NaN,"Newcastle, England",Aircraft Transport and Travel,NaN,De Havilland DH-4,NaN,1 (passengers:0 crew:1),1 (passengers:0 crew:1),0,NaN
28,"October 14, 1919",NaN,"Cantonsville, Maryland",US Aerial Mail Service,NaN,Curtiss R-4LM,NaN,1 (passengers:0 crew:1),1 (passengers:0 crew:1),0,The pilot was performing a mail flight to Balt...
29,"October 20, 1919",NaN,"English Channel off Forkstone, Kent",Aircraft Transport and Travel,NaN,De Havilland DH-4,NaN,0 (passengers:? crew:?),0 (passengers:? crew:?),0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
5753,"March 10, 2017",1120,"Istanbul, Turkey",Swan Aviation,Istanbul - Bozuyuk,Sikorsky S-76C,760717,7 (passengers:5 crew:2),7 (passengers:5 crew:2),0,The helicopter crashed on a highway after hitt...
5754,"March 27, 2017",0815,"Mautaer, Zimbabwe",ETA Air Charter,"Beira, Mozambique - Harare, Zimbabwe",Britten-Norman BN2 Islander,024,6 (passengers:4 crew:2),6 (passengers:4 crew:2),0,While en route the air transport plane collide...
5755,"May 05, 2017",0653,"Charleston, West Virginia",Air Cargo Carriers,Louisville - Charleston,Shorts 300-200,SH-3029,2 (passengers:0 crew:2),2 (passengers:0 crew:2),0,The cargo plane was destroyed when it crashed ...
5756,"May 15, 2017",1530,"Carlstadt,, New Jersey",A&C Big Sky Aviation,"Philadelphia, PA - Teteboro, NJ",Learjet 35A-452,35A-452,2 (passengers:0 crew:2),2 (passengers:0 crew:2),0,"While on approach to Teleboro Airport, the air..."
5757,"May 27, 2017",1402,"Tenzing, Nepal",Summit Air,NaN,Let L-410UVP-E20,2917,3 (passengers:0 crew:3),2 (passengers:0 crew:2),0,The cargo plane crashed short of the runway th...
5758,"June 07, 2017",1335,"Off Dawei, Myanmar",Myanmar Air Force,Myeik - Yangon,Shaanxi Y-8F-200W,NaN,122 (passengers:108 crew:14),122 (passengers:108 crew:14),0,The transport plane carrying military personne...
5759,"June 28, 2017",1015,"Mount Gambier, South Australia",Angel Flight,Suttontown - Adelaide,Socata TB1-10 Tobago,1518,3 (passengers:2 crew:1),3 (passengers:2 crew:1),0,The medical flight crashed 3 km south of Mount...
5760,"July 10, 2017",1600,"Near Itta Bena, Mississipi",USMC,"Cherry Point, NC - El Centro, CA",Lockheed KC-130T Hercules,382-5303,16 (passengers:14 crew:2),16 (passengers:14 crew:2),0,"While en route, the Marine Corps transport suf..."
5761,"October 14, 2017",0830,"Abidjan, Ivory Coast",Valan International Cargo Charter,Burkina Faso - Abidjan,Antonov AN-26-100,3204,10 (passengers:4 crew:6),4 (passengers:4 crew:0),0,"The cargo plane, carrying French military carg..."
5762,"November 15, 2017",0800,"Empakaai, Tanzania",Costal Aviation,Arusha - Serengeti,Cessna 208B Grand Caravan,208B-0476,11 (passengers:10 crew:1),11 (passengers:10 crew:1),0,The chartered Cessna was flying tourists from ...
5763,"December 13, 2017",1815,"Near Fond-du-Lac, Saskatchewan",West Wind Aviation,Fond-du-Lac - Stony Rapids,ATR42-320,240,25 (passengers:22 crew:3),1 (passengers:1 crew:0),0,"Shortly after taking off, the aircraft lost al..."
5764,"December 31, 2017",1216,"Punta Islita, Costa Rica",Naure Air,Punta Islita - San Jose,Cessna 208B Grand Caravan,208B-0900,12 (passengers:10 crew:2),12 (passengers:10 crew:2),0,The passenger plane crashed 10 minutes after t...
5765,"January 29, 2018",NaN,"Zhengchang, Suiyang County, Guizhou Province",People's Liberation Army Air Force,NaN,Shaanxi Y-8GX-3,NaN,12 (passengers:7 crew:5),12 (passengers:7 crew:5),0,Unknown
5766,"February 10, 2018",1731,"Grand Canyon, Arizona",Papillon,Sightseeing,Eurocopter EC 130B4,7091,7 (passengers:6 crew:1),3 (passengers:3 crew:0),0,The helicopter was observed making strange man...
5767,"February 11, 2018",1431,"Argunovo, Russia",Saratov Airlines,Moscow - Orsk,Antonov AN-148-100,27015040004,71 (passengers:65 crew:6),71 (passengers:65 crew:6),0,The regional airliner took off from Moscow at ...
5768,"February 18, 2018",0926,"Kohangan village, Iran",Iran Aseman Airlines,Tehran - Yasuj,Iran Aseman Airlines,NaN,66 (passengers:60 crew:6),66 (passengers:60 crew:6),0,The airliner was on approach to Yasuj Airport ...
5769,"March 06, 2018",1451,"Latakia, Syria",Military - Russian Air Force,Kuweires Air Base - Latakia-Khmeimim Air Base,Antonov An-26,10107,39 (passengers:33 crew:6),39 (passengers:33 crew:6),0,While on approach to Latakia-Khmeimim Air Base...
5770,"March 11, 2018",1908,"New York, New York",Liberty Helicopters,Sightseeing,Eurocopter AS 350B2,7654,6 (passengers:5 crew:1),5 (passengers:5 crew:0),0,The sightseeing helicopter suddenly lost power...
5771,"March 12, 2018",14:15,"Kathmandu, Nepal",US-Bangla Airlines,Dhaka - Kathmandu,de Havilland Canada DHC-8-402Q Dash 8,4041,71 (passengers:67 crew:4),51 (passengers:47 crew:4),0,"After getting clearance to land, the aircraft ..."
5772,"March 17, 2018",1120,"Plaridel, Philippines",Lite Air Express,Plaridel - Laoag,Piper PA-32RT-300T,32R-7985036,5 (passengers:3 crew:2),5 (passengers:3 crew:2),5,The small passenger plane crashed shortly afte...
5773,"April 11, 2018",0800,"Boufarik AB, Algeria",Military - Algerian Air Force,Boufarik AB - Bechar - Tindouf,Ilyushin 76-TD,1043419636,257 (passengers:247 crew:10),257 (passengers:247 crew:10),0,The Algerian military plane crashed soon after...
5774,"April 17, 2018",1004,"NW of Philadelphia, Pennsylvania",Southwest Airlines,New York - Dallas,Boeing 737-7H4,27880/601,149 (passengers:144 crew:5),1 (passengers:1 crew:0),0,"While climbing to FL320, the No. 1 engine suff..."
5775,"May 02, 2018",1130,"Port Wentworth, Georgia",Military - US Air Force,Savannah - Tuscon,Lockheed HC-130H Hercules,382-4110,9 (passengers:0 crew:9),9 (passengers:0 crew:9),0,A Porto Rico Air National Guard plane crashed ...
5776,"May 18, 2018",1208,"Havana, Cuba",Cubana (leased from Global Air),Havana- Holguin,Boeing 737-201,21816/592,113 (passengers:107 crew:6),112 (passengers:106 crew:6),0,After taking off from runway 06 at Havana-José...
5777,"June 05, 2018",1700,"Near Njabini, Kenya",Fly SAX,Kitale - Nairobi,Cessna 208B Grand Caravan,208B0525,10 (passengers:8 crew:2),10 (passengers:8 crew:2),0,Ground lost contact with the aircraft when it ...
5778,"July 10, 2018",0744,"Pretoria, South Africa",Rovos Air,Test Flight,Convair CV-340,215,19 (passengers:16 crew:3),1 (passengers:0 crew:1),1,"Shortly after takeoff from runway 29, the left..."
5779,"August 04, 2018",1655,"Flims, Switzerland",Ju Air,Locorno - Dubendorf,Junkers JU-52,6595,20 (passengers:17 crew:3),20 (passengers:17 crew:3),1,The vintage aircraft crashed onto Piz Segnas m...
5780,"September 28, 2018",1010,"Chuuk, Micronesia",Air Niugini,Pohnpei - Chuuk,Boeing 737-8BK,33024/1688,47 (passengers:35 crew:12),1 (passengers:1 crew:0),0,The aircraft was approaching for a landing at ...
5781,"October 29, 2018",0631,"Off Jakarta, Indonesia",Lion Air,Jakarta - Pangkal Pinang,Boeing 737-MAX 8,43000/7058,189 (passengers:181 crew:8),189 (passengers:181 crew:8),0,"The airliner crashed into the Jakarta Sea, 13 ..."
5782,"November 06, 2018",0253,"Georgetown, Guyana",Fly Jamaica Airways,Georgetown - Toronto,Boeing 757-N23,30233/895,128 (passengers:120 crew:8),1 (passengers:1 crew:0),0,"After taking off and reaching FL200, the crew ..."

Se busca la cantidad de NaN en cada columna con el comando .isnull().any()

In [57]:
db.isnull()

,date,time,location,operator,route,ac_type,cn_ln,aboard,fatalities,ground,summary
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
5753,False,False,False,False,False,False,False,False,False,False,False
5754,False,False,False,False,False,False,False,False,False,False,False
5755,False,False,False,False,False,False,False,False,False,False,False
5756,False,False,False,False,False,False,False,False,False,False,False
5757,False,False,False,False,False,False,False,False,False,False,False
5758,False,False,False,False,False,False,False,False,False,False,False
5759,False,False,False,False,False,False,False,False,False,False,False
5760,False,False,False,False,False,False,False,False,False,False,False
5761,False,False,False,False,False,False,False,False,False,False,False
5762,False,False,False,False,False,False,False,False,False,False,False
5763,False,False,False,False,False,False,False,False,False,False,False
5764,False,False,False,False,False,False,False,False,False,False,False
5765,False,False,False,False,False,False,False,False,False,False,False
5766,False,False,False,False,False,False,False,False,False,False,False
5767,False,False,False,False,False,False,False,False,False,False,False
5768,False,False,False,False,False,False,False,False,False,False,False
5769,False,False,False,False,False,False,False,False,False,False,False
5770,False,False,False,False,False,False,False,False,False,False,False
5771,False,False,False,False,False,False,False,False,False,False,False
5772,False,False,False,False,False,False,False,False,False,False,False
5773,False,False,False,False,False,False,False,False,False,False,False
5774,False,False,False,False,False,False,False,False,False,False,False
5775,False,False,False,False,False,False,False,False,False,False,False
5776,False,False,False,False,False,False,False,False,False,False,False
5777,False,False,False,False,False,False,False,False,False,False,False
5778,False,False,False,False,False,False,False,False,False,False,False
5779,False,False,False,False,False,False,False,False,False,False,False
5780,False,False,False,False,False,False,False,False,False,False,False
5781,False,False,False,False,False,False,False,False,False,False,False
5782,False,False,False,False,False,False,False,False,False,False,False